<template>
    <form>
        <div class="form-control">
            <label for="reference_key">Clave de Referencia</label>

            <text-field
                name="reference_key"
                v-model="fields.reference_key"
                maxlength="60"
            >
            </text-field>

            <field-errors name="reference_key">
            </field-errors>
        </div>
        <div class="form-control">
            <label for="title">Título</label>

            <text-field
                name="title"
                v-model="fields.title"
                maxlength="60"
            >
            </text-field>

            <field-errors name="title">
            </field-errors>
        </div>
        <div class="form-control">
            <label for="description_level">Nivel de Descripción</label>

            <text-field
                name="description_level"
                v-model="fields.description_level"
                maxlength="60"
            >
            </text-field>

            <field-errors name="description_level">
            </field-errors>
        </div>

        <div class="text-center">
            <form-button class="btn btn--success btn--wide">
                Agregar
            </form-button>
        </div>
    </form>
</template>

<script>
    import BaseForm from '../base/BaseForm.vue';

    export default {
        extends: BaseForm,
    };
</script>
