<template>
    <form>
        <div class="form-control">
            <label for="clave">Clave de Referencia</label>

            <text-field
                name="clave"
                v-model="fields.clave"
                maxlength="60"
            >
            </text-field>

            <field-errors name="clave">
            </field-errors>
        </div>
        <div class="form-control">
            <label for="titulo">Título</label>

            <text-field
                name="titulo"
                v-model="fields.titulo"
                maxlength="60"
            >
            </text-field>

            <field-errors name="titulo">
            </field-errors>
        </div>
        <div class="form-control">
            <label for="description">Nivel de Descripción</label>

            <text-field
                name="description"
                v-model="fields.description"
                maxlength="60"
            >
            </text-field>

            <field-errors name="description">
            </field-errors>
        </div>
        <div class="form-control">
            <label for="accion">Acción</label>

             <file-field
                name="accion"
                v-model="fields.accion"
            >
            </file-field>

            <field-errors name="accion">
            </field-errors>
        </div>

        <div class="text-center">
            <form-button class="btn btn--success btn--wide">
                Eliminar
            </form-button>
        </div>
    </form>
</template>

<script>
    import BaseForm from '../base/BaseForm.vue';

    export default {
        extends: BaseForm,
    };
</script>
