<template>
    <form>
        <div class="form-control">
            <label for="name">Nombre</label>

            <text-field
                name="name"
                v-model="fields.name"
                maxlength="60"
            >
            </text-field>

            <field-errors name="name">
            </field-errors>
        </div>
        <div class="form-control">
            <label for="description">Descripcion</label>

            <text-field
                name="description"
                v-model="fields.description"
                maxlength="60"
            >
            </text-field>

            <field-errors name="description">
            </field-errors>
        </div>
        <div class="form-control">
            <label for="pol_sesion">Pol.Sesion</label>

            <text-field
                name="pol_sesion"
                v-model="fields.pol_sesion"
                maxlength="60"
            >
            </text-field>

            <field-errors name="pol_sesion">
            </field-errors>
        </div>
        <div class="form-control">
            <label for="pol_password">Pol.Contraseña</label>

            <text-field
                name="pol_password"
                v-model="fields.pol_password"
                maxlength="60"
            >
            </text-field>

            <field-errors name="pol_password">
            </field-errors>
        </div>
        <div class="text-center">
            <form-button class="btn btn--success btn--wide">
                Agregar
            </form-button>
        </div>
    </form>
</template>

<script>
    import BaseForm from './base/BaseForm.vue';

    export default {
        extends: BaseForm,
    };
</script>
