<template>
    <form>
       
        <div class="form-control">
            <label for="name">Nombre</label>

            <text-field
                name="name"
                v-model="fields.name"
                maxlength="60"
            >
            </text-field>

            <field-errors name="name">
            </field-errors>
        </div>


        <div class="text-center">
            <form-button class="btn btn--success btn--wide">
                Buscar
            </form-button>
        </div>
    </form>
</template>

<script>
    import BaseForm from './base/BaseForm.vue';

    export default {
        extends: BaseForm,
    };
</script>
