<template>
    <form>
        <div class="form-control">
            <label for="name">Nombre</label>

            <text-field
                name="name"
                v-model="fields.name"
                maxlength="60"
                :initial="role.name"
            >
            </text-field>

            <field-errors name="name">
            </field-errors>
        </div>
        <div class="form-control">
            <label for="key_name">Nombre clave</label>

            <text-field
                name="key_name"
                v-model="fields.key_name"
                maxlength="60"
        
            >
            </text-field>

            <field-errors name="key_name">
            </field-errors>
        </div>
        <div class="text-center">
            <form-button class="btn btn--success btn--wide">
                Editar
            </form-button>
        </div>
    </form>
</template>
<script>
    import BaseForm from './base/BaseForm.vue';

    export default {
        extends: BaseForm,
        props: {
            role: {
                type: Object,
                required:false
            },
        },

    };
</script>