// =============================================================================
// Brand
// =============================================================================
//
// The main colors of your application.
// Feel free to register as many as you need.


// Change this value to match your brand color.

$color-primary: #b11830 !default;
$color-menu-text: #99c11a;
$color-db: #50ab87 !default;
// =============================================================================
// Color palettes
// =============================================================================
//
// Gray and blue palettes are provided by default, but feel free
// to add as many colors or palettes as you need.


// Gray (with a tint of blue).
//
// The gray palette is used for control backgrounds and borders accross
// the framework, so be careful when changing these values as they may
// impact several classes.

$color-gray:           #adb5bd !default;
$color-gray-lighten-1: lighten($color-gray, 12%) !default;
$color-gray-lighten-2: lighten($color-gray, 18%) !default;
$color-gray-lighten-3: lighten($color-gray, 22%) !default;
$color-gray-lighten-4: lighten($color-gray, 24%) !default;
$color-gray-lighten-5: lighten($color-gray, 27%) !default;
$color-gray-darken-1:  darken($color-gray, 10%) !default;
$color-gray-darken-2:  darken($color-gray, 22%) !default;
$color-gray-darken-3:  darken($color-gray, 36%) !default;
$color-gray-darken-4:  darken($color-gray, 48%) !default;
$color-gray-darken-5:  darken($color-gray, 57%) !default;

// Gray (with a tint of blue).
//
// The gray palette is used for control backgrounds and borders accross
// the framework, so be careful when changing these values as they may
// impact several classes.

$color-gray-10: #f9fafa !default;
$color-gray-15: #f5f6f7 !default;
$color-gray-20: #f0f2f3 !default;
$color-gray-30: #e7e9ec !default;
$color-gray-40: #d6dadd !default;
$color-gray-50: #adb5bd !default;
$color-gray-60: #8a96a1 !default;
$color-gray-70: #5f6b78 !default;
$color-gray-80: #3a4148 !default;
$color-gray-90: #202428 !default;

// Blue.
//
// The blue palette is used in links and controls across the framework,
// so be careful when changing these values as they may impact several
// classes. Creating a new palette instead is recommended.

$color-blue:           #39c !default;
$color-blue-lighten-1: lighten($color-blue, 10%) !default;
$color-blue-lighten-2: lighten($color-blue, 20%) !default;
$color-blue-lighten-3: lighten($color-blue, 30%) !default;
$color-blue-lighten-4: lighten($color-blue, 40%) !default;
$color-blue-lighten-5: lighten($color-blue, 45%) !default;
$color-blue-darken-1:  darken($color-blue, 5%) !default;
$color-blue-darken-2:  darken($color-blue, 10%) !default;
$color-blue-darken-3:  darken($color-blue, 20%) !default;
$color-blue-darken-4:  darken($color-blue, 30%) !default;
$color-blue-darken-5:  darken($color-blue, 35%) !default;


$color-blue-10: #ebf5fa !default;
$color-blue-20: #d1e8f3 !default;
$color-blue-30: #9acde6 !default;
$color-blue-40: #67b3d9 !default;
$color-blue-50: #39c !default;
$color-blue-60: #2d86b3 !default;
$color-blue-70: #246b8e !default;
$color-blue-80: #154258 !default;
$color-blue-90: #0f2e3d !default;



// =============================================================================
// Borders
// =============================================================================

// =============================================================================
// Dashboard
// =============================================================================


$color-db-green:       #5a8 !default;
$color-db-orange:      #e75a5d !default;
$color-db-primary:     $color-db-green !default;
$color-dashboard-green: $color-db-green; //CAMBIAR


// Submenu.

$color-db-submenu:     #393c43;
$color-db-section:     darken($color-db-submenu, 5%);


// Text.

$color-db-panel-title: lighten($color-db-submenu, 20%) !default;


// A default global color for borders.
// This is used for tables, border utility classes and components.

$color-border: $color-gray-lighten-2 !default;


// Default color for input and textarea borders.

$color-border-input: $color-gray-lighten-1 !default;


// =============================================================================
// Text
// =============================================================================


// Color for the body text.

$color-text: $color-gray-darken-3 !default;


// Color for your heading tags (h1, h2...).

$color-headings: $color-gray-darken-4 !default;


// The default color for links.

$color-link: $color-blue !default;


// Color for focused and active links.

$color-link-focus: $color-blue-darken-2 !default;


// =============================================================================
// States
// =============================================================================
//
// State colors are used in support classes, form validation
// and in some components (like buttons and alerts).


$color-info:           $color-blue-darken-1 !default;
$color-info-light:     $color-blue-lighten-4 !default;
$color-info-text:      $color-blue-darken-3 !default;
$color-info-border:    darken($color-info-light, 10%) !default;

$color-success:        #20c372 !default;
$color-success-light:  lighten($color-success, 40%) !default;
$color-success-text:   darken($color-success, 20%) !default;
$color-success-border: lighten($color-success, 20%) !default;

$color-danger:         #d03a40 !default;
$color-danger-light:   lighten($color-danger, 37%) !default;
$color-danger-text:    darken($color-danger, 15%) !default;
$color-danger-border:  lighten($color-danger, 30%) !default;

$color-warning:        #ffc31a !default;
$color-warning-light:  lighten($color-warning, 34%) !default;
$color-warning-text:   darken($color-warning, 34%) !default;
$color-warning-border: lighten($color-warning, 18%) !default;
