<template>
    <form>
        <div class="form-control">
            <label for="key_code">Clave</label>

            <text-field
                name="key_code"
                v-model="fields.key_code"
                maxlength="60"
                :initial="user.key_code"
            >
            </text-field>

            <field-errors name="key_code">
            </field-errors>
        </div>
        <div class="form-control">
            <label for="last_name">Apellido</label>

            <text-field
                name="last_name"
                v-model="fields.last_name"
                maxlength="60"
                :initial="user.last_name"
            >
            </text-field>

            <field-errors name="last_name">
            </field-errors>
        </div>
        <div class="form-control">
            <label for="name">Nombre</label>

            <text-field
                name="name"
                v-model="fields.name"
                maxlength="60"
                :initial="user.name"
            >
            </text-field>

            <field-errors name="name">
            </field-errors>
        </div>
        <div class="form-control">
            <label for="phone">Telefono</label>

            <text-field
                name="phone"
                v-model="fields.phone"
                maxlength="60"
                :initial="user.phone"
            >
            </text-field>

            <field-errors name="phone">
            </field-errors>
        </div>
        <div class="form-control">
            <label for="profile">Perfil</label>

            <text-field
                name="profile"
                v-model="fields.profile"
                maxlength="60"
                :initial="user.profile"
            >
            </text-field>

            <field-errors name="profile">
            </field-errors>
        </div>
        <div class="form-control">
            <label for="failed_attempts">Intentos Fallidos (solo numeros)</label>

            <text-field
                name="failed_attempts"
                v-model="fields.failed_attempts"
                maxlength="60"
                :initial="user.failed_attempts"
            >
            </text-field>

            <field-errors name="failed_attempts">
            </field-errors>
        </div>
        <div class="form-control">
            <label for="account_status">Estatus de Cuenta</label>

            <text-field
                name="account_status"
                v-model="fields.account_status"
                maxlength="60"
                :initial="user.account_status"
            >
            </text-field>

            <field-errors name="account_status">
            </field-errors>
        </div>
        <div class="form-control">
            <label for="email">Correo Electronico</label>

            <text-field
                name="email"
                v-model="fields.email"
                maxlength="60"
                :initial="user.email"
            >
            </text-field>

            <field-errors name="email">
            </field-errors>
        </div>

        <div class="text-center">
            <form-button class="btn btn--success btn--wide">
                Editar
            </form-button>
        </div>

    </form>
</template>

<script>
    import BaseForm from '../base/BaseForm.vue';

    export default {
        extends: BaseForm,
        props: {
            user: {
                type: Object,
                required:false
            },
        },
    };
</script>
